@model RocketLaunchDay2.Models.simpleLaunch
    
@{
    ViewBag.Title = "Did You Know?";
}
<html lang="en">
<head>
    <title> Did you know?</title>
</head>
<style>
    /*.textbox {
    h1 {
        font-size: 12px;
        font-family: 'open sans', sans-serif;
        align-items: center;
        color: #8e2525;
    }

    h2 {
        font-size: 9px;
        font-family: 'open sans', sans-serif;
        color: dimgrey;
    }
    }*/
    .title {
        font-size: 35px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 53.9px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        text-shadow: -6px -2px 8px rgba(236, 150, 96, 1);
        color: #8e2525;
    }

    .MainBackground {
        position: relative;
        background-image: url("racheta.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100vh;
    }

    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    #table {
        border-collapse: collapse;
        width: 100%;
    }

    #th {
        padding: 8px;
        text-align: left;
        color: #312185;
        width: 17%;
        font-size: 20px;
    }

    #td {
        color: #898889;
        padding: 8px;
        text-align: left;
        border-left: 2px solid black;
        border-color: #7b7c7c;
        width: 83%;
    }

    #table1 {
        /*border-collapse: collapse;*/
        width: 100%;
        height: 20%;
        margin-left: 40px;
    }

    #td1 {
        padding: 0px;
        width: 40%;
    }

    #td2 {
        text-align: left;
        color: #ffffff;
        width: 60%;
        font-size: 30px;
    }

    #myDiv {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px;
        border: 4px solid red;
        border-color: #800000;
        border-radius: 8px;
        /*border-color:blue;*/
        background-image: url(../Photos/background.jpg);
        color: black;
        padding: 40px;
        text-align: left;
        transition: transform .2s;
    }

        #myDiv:hover {
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
</style>
<body background="../Photos/racheta2.jpg">
    <table id="table1">
        <tr>
            <td id="td1"><a href='@Url.Action("Index", "Home")'> <img src="../Photos/logoMic.png" width="25%" /> </a> </td>
            <td id="td2">Did you know?</td>
        </tr>
    </table>
    <div id="myDiv">
        <table id="table">
            <tr>
                <th id="th">The most common causes of scheduling changes in launches</th>
                <td id="td">

                    - Technical problems can appear all of a sudden, even in the last moments before the flight. Those cannot be overlooked due to the damage they can do to the mission, no matter how insignificant they seem to be.
                    <br /> - Another cause of delay is the health of the crew. If one of the astronauts gets a medical complication, and there are no backup men, it can take months for another one to prepare consistently for the trip.
                    <br /> - Some launches are delayed only a few minutes, but even a very short delay can cause a rocket to miss its launch window, which vary from 1-2 minutes to a few hours depending on the destination. Launch windows can also close because of the NASA's
                    agreemens with other space agencies.
                    <br /> - Don't forget that lots of rockets still use liquid oxygen as their
                    oxidizer, and many of those use liquid hydrogen as fuel. These are so cold that even on clear days frost will build up on the outside of the rocket where these large tanks are located. So even in a light rain, the frost becomes ice, adding as much as a few hundred kilograms to the weigth of the rocket.


                </td>
            </tr>
        </table>
    </div>
    <div id="myDiv">
        <table id="table">
            <tr>
                <th id="th">The world’s major spaceports</th>
                <td id="td">
                    - Baikonur Cosmodrome, Kazakhstan (Soviet and Russian flights)
                    <br />- Cape Canaveral AFS, Florida, USA
                    <br />- Kennedy Space Center, Florida, USA
                    <br />- Jiuquan SLC, China
                </td>
            </tr>
        </table>
    </div>
    <div id="myDiv">
        <table id="table">
            <tr>
                <th id="th">Interesting facts</th>
                <td id="td">
                    <div>- The first development of rockets was by the Chinese in 1232 AD, when they used gunpowder projectiles in battle. However, there is evidence that suggests they were experimenting with these prototypical rockets as far back as 995 AD.</div>
                    <br /> <div>- In order to be able to burst through the gravity of the Earth, a rocket needs to travel at a speed of 7 miles per second. Just like a man who sees his bus leaving the station.</div>
                    <br /> <div>- In 1881, the history of rocket propulsion took an odd turn when Nikolai Ivanovich Kibalchich, one of Russia’s rocket pioneers, took part in the assassination of Tsar Alexander II. As the main explosive expert, Kibalchich shot four projectiles at the Tsar and killed him. The 27-year-old genius would be arrested and executed, but was still hard at work on mathematical equations while he sat in prison.</div>
                    <br /> <div>- SpaceX launched their first commercial prototype in 2010. Named Falcon 9, it orbited the Earth twice before landing in the Pacific Ocean.</div>
                    <br /> <div>- On SpaceX’s first test launch, they secretly sent a wheel of cheese into orbit in honor of the Monty Python sketch where John Cleese tried to order cheese from a cheese shop that has no cheese.</div>
                    <br /> <div>- Germany was actually the first country to produce a rocket capable of crossing the boundary of space. The famed V2 rocket of World War II was a ballistic missile launched by the Nazis on England and Belgium.</div>
                    <br /> <div>- The Lewis Research Center attempted to develop diamond-hard coatings for aerospace systems, later creating a tehnique that was developed and patented for just that purpose. This is the origin of the scratch-resistent lenses.</div>
                    <br /> <div>- Infant formulas now contain a nutritional enrichment ingredients, the origins of which can be traced back to NASA-sponsored research that explored the use of algae for long duration space travel.   </div>
                    <br /> <div>- Water is used to reduce extreme heat and energy generated by a rocket launch. During a launch, the water deluge system releases approximately 450,000 gallons of water up to 100 feet in the air.</div>
                </td>
            </tr>
        </table>
    </div>
    <div id="myDiv">
        <table id="table">
            <tr>
                <th id="th" colspan="2">THE NEXT LAUNCH</th>

            </tr>

            <tr>
                <th id="th">Name</th>
                <td id="td">@Html.DisplayFor(m => m.name)</td>
            </tr>
            <tr>
                <th id="th">Countdown</th>
                <td id="td">
                    <script>// Set the date we're counting down to
var countDownDate = new Date(@Html.DisplayFor(m => m.start)).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

                            // Get todays date and time
                            var now = new Date().getTime();

                            // Find the distance between now and the count down date
                            var distance = countDownDate - now;

                            // Time calculations for days, hours, minutes and seconds
                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                            // Output the result in an element with id="demo"
                            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                                + minutes + "m " + seconds + "s ";

                            // If the count down is over, write some text
                            if (distance < 0) {
                                clearInterval(x);
                                document.getElementById("demo").innerHTML = "EXPIRED";
                            }
}, 1000);</script>
                    <p id="demo"></p>
                </td>
            </tr>
            <tr>
                <th id="th">Date</th>
                <td id="td">@Html.DisplayFor(m => m.start)</td>
            </tr>
            <tr>
                <th id="th">Launch Window</th>
                <td id="td">@Html.DisplayFor(m => m.start) - @Html.DisplayFor(m => m.finish)</td>
            </tr>
            <tr>
                <th id="th">Description</th>
                <td id="td">@Html.DisplayFor(m => m.description)</td>
            </tr>
        </table>
    </div>
   
    <div style ="margin-left: 40px; top: 10px">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wwMDvPCGeE0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</body>
</html>